.header__text-release {
    width: 135px;
    height: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 30px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 20px;
    outline: none;
    cursor: pointer;
}

.header__text-release:hover {
    opacity: 0.6;
    transition: opacity ease .3s;
}

.header__text-release_opened {
    display: flex;
}

@media screen and (max-width: 620px) {
    .header__text-release {
        display: none;
        width: 161px;
        height: 31px;
        margin-right: 0;
    }

    .header__text-release_opened {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .header__text-release {
        font-size: 12px;
        line-height: 15px;
    }

    .header__text-release_opened {
        display: flex;
    }
}
