.header__desktop-button-wrapper {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width: 694px) {
    .header__desktop-button-wrapper {
        display: none;
        
    }
}