.header__songs-release-title {
    margin: 0;
    font: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 35px;
}

@media screen and (max-width: 1024px) {
    .header__songs-release-title {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 480px) {
    .header__songs-release-title {
        font-size: 14px;
        line-height: 19px;
    }
}