.header__content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__content-wrapper_opened {
    width: calc(100% - 176px);
}

@media screen and (max-width: 694px) {
    .header__content-wrapper {
        width: 100%;
    }
}