.form__submit-button {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    margin-top: 40px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    outline: none;
    max-width: 600px;
    height: 60px;
}

.form__submit-button:hover {
    font-style: italic;
    opacity: 0.6;
    transition: opacity ease .3s;
}

@media screen and (max-width: 1100px) {
    .form__submit-button {
        font-size: 15px;
    }
}

@media screen and (max-width: 920px) {
    .form__submit-button {
        max-width: 648px;
    }
}

@media screen and (max-width: 480px) {
    .form__submit-button {
        font-size: 12px;
        height: 42px;
    }
}