.header__songs-release {
    margin: 0;
    font: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* max-width: calc(100% - 10px); */
    cursor: pointer;
    margin-top: 16px;
}

.header__songs-release:hover {
    font-style: italic;
}

.header__songs-release_closed {
    display: none
}

@media screen and (max-width: 1024px) {
    .header__songs-release {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 480px) {
    .header__songs-release {
        font-size: 14px;
        line-height: 19px;
    }
}
