.header__songs-text {
    display: none;
    font: Inter;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
    width: calc(100% - 50px);
    margin-left: 40px;
}

.header__songs-text_opened {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .header__songs-text  {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 1024px) {
    .header__songs-text  {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 480px) {
    .header__songs-text  {
        font-size: 14px;
        line-height: 19px;
    }
}