.header__song-player {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -104px;   
}

.header__song-player_opened {
    bottom: 40px;
}

@media screen and (max-width: 640px) {
    .header__song-player {
        bottom: -109px;
    }
    .header__song-player_opened {
        bottom: 35px;
        transition: none;
    }
}