.header__album-cover {
    display: none;
    width: 176px;
    height: 176px;
    align-self: center;
    margin-right: 27px;
    border-radius: 4px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s linear, visibility 0.3s linear;
}

.header__album-cover_opened {
    display: block;
    visibility: hidden;
    opacity: 1;
    visibility: visible;
}

.header__album-cover_opened_visible {
    display: block;
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 1024px) {
    .header__album-cover {
        margin-right: 27px;
        width: 164px;
        height: 164px;
    }
}

@media screen and (max-width: 810px) {
    .header__album-cover {
        display: none;
        align-self: center;
    }
}
