.header__logo {
    width: 50px;
    height: 50px;
}

.header__logo:hover {
    opacity: 0.6;
    transition: opacity ease .3s;
}

.header__logo:hover {
    opacity: 0.6;
    transition: opacity ease .3s;
}

@media screen and (max-width: 480px) {
    .header__logo {
        width: 32px;
        height: 32px;
    }
}