.header__track-progress {
    width: calc(100% - 2*35px);
    height: 4px;
    color: rgba (255, 255, 255, 0.3);
}

.header__track-progress_short {
    width: calc(100% - 2*35px - 20px - 135px);
    align-self: flex-start;
    margin-left: 35px;
}

@media screen and (max-width: 480px) {
    .header__track-progress {
        width: calc(100% - 2*25px);
        align-self: flex-start;
        margin-left: 25px;
    }
}