@import url(./__logo/header__logo.css);
@import url(./__streamings/header__streamings.css);
@import url(./__streaming-title/header__streaming-title.css);
@import url(./__image/header__image.css);
@import url(./__song-player/header__song-player.css);

.header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}