@import url(./__content/root__content.css);


/* header, span, div, nav, p, h1, h2, h3, h4, a, section, ul, li, img, iframe, input, textarea, button {
    outline: 1px solid;
    outline-color: red;
}  */


.root {
    font-family: 'Inter', Sans-serif, Arial;
    color: #ffffff;
    background: linear-gradient(#FBD5E5, #ED9C9D, #465C82, #2A3A84);
    background-size: 250% 250%;
    animation: Gradient 30s ease infinite;
}

@keyframes Gradient {
    0% {
    background-position: 50% 100%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 50% 100%
    }
}