@import url(./__copyright/footer__copyright.css);
@import url(./__author/footer__author.css);
@import url(./__author-link/footer__author-link.css);
@import url(./__span/footer__span.css);

.footer {
    margin: 20px 15px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .footer {
        flex-direction: column;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
    }
}