.header__album-cover-mobile {
    display: none;
    width: 240px;
    height: 240px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
}

@media screen and (max-width: 694px) {
    .header__album-cover-mobile  {
        display: block;
    }
}