.header__mobile-button-wrapper {
    display: none;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 240px;
    
}

@media screen and (max-width: 620px) {
    .header__mobile-button-wrapper {
        display: flex;
    }
}