.header__songs-container {
    width: calc(100% - 2*35px);
    max-height: 104px;
    min-height: 104px;
    opacity: 0;
    align-self: center;
    overflow: hidden;
    
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s  ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
}

.header__songs-container_opened {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity ease 0.5s;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 694px) {
    .header__songs-container {
        width: calc(100% - 2*15px);
    }
}