@import url(./root__content/root__content.css);

/*
header, span, div, nav, p, h1, h2, h3, h4, a, section, ul, li, img, iframe {
    outline: 1px solid;
    outline-color: red;
}
*/

.root {
    font-family: 'Inter', Sans-serif, Arial;
    color: #ffffff;
    background-image: url(../../images/turbina-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}