.header__play-pause {
    background: rgba(0, 0, 0, 0);
    background-image: url(../../../images/play.svg);
    border: none;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    outline: none;
    cursor: pointer;
}

.header__play-pause:hover {
    opacity: 0.6;
    transition: opacity ease .3s;
}

.header__play-pause_pause {
    background: rgba(0, 0, 0, 0);
    background-image: url(../../../images/stop.svg);
    border: none;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 480px) {
    .header__play-pause {
        width: 16px;
        height: 16px;
    }
}