.header__song-name {
    font: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-left: 20px;
    max-width: 60vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
    .header__song-name {
        font-size: 18px;
        line-height: 22px;
        max-width: 55vw;
    }
}

@media screen and (max-width: 810px) {
    .header__songs-release {
        margin-left: 30px;
    }
}

@media screen and (max-width: 480px) {
    .header__song-name {
        font-size: 14px;
        line-height: 19px;
        max-width: 50vw;
    }
}