.form__title {
    margin: 0;
    color: #000000;
    font-size: 50px;
    font-style: italic;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 40px;
    max-width: 600px;
    height: 61px;
}

@media screen and (max-width: 1100px) {
    .form__title {
        font-size: 46px;
        line-height: 56px;
    }
}

@media screen and (max-width: 920px) {
    .form__title {
        font-size: 42px;
        line-height: 51px;
    }
}

@media screen and (max-width: 480px) {
    .form__title {
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 30px;
    }
}