.form__radio {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
    margin-right: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #000000;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    outline: none;
}

.form__radio:checked {
    background: #000000;    
}

.form__radio:hover {
    opacity: 0.6;
    transition: opacity ease .3s;
}

@media screen and (max-width: 480px) {
    .form__radio {
        margin-right: 12px;
    }
}