.header__streaming-title {
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width: 480px) {
    .header__streaming-title {
        font-size: 12px;
        line-height: 15px;
    }
}